
@import "red-style";
@import "submenu";

.stickynav-active {
	width: unset;
  	transition: 0.4s top cubic-bezier(0.3, 0.73, 0.3, 0.74);
}
body {
	background-image: url(../images/bg.png);
}

.menu-left, .menu-center {
	ul.menu {
		margin-left: 2px;
    	margin-top: 0px;
    	margin-bottom: 5px;
		li{
			a{

    			//border-color: $color-primary;
			    border-top: 1px #ddd solid;
			    border-bottom: 1px #ddd solid;
			    border-right: #ddd 1px solid;
			    border-left: $color-primary 5px solid;
			    background-color: white;

    			margin: 5px 0px;
    			font-size: 120%;

    			-webkit-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.25);
    			-moz-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.25);
    			box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.25);


			    transition: opacity 0.4s, box-shadow 0.4s, transform 0.4s, background 1s;
			    -webkit-transition: opacity 0.4s, -webkit-box-shadow 0.4s, -webkit-transform 0.4s, background 0.4s, color 0.4s;
			}
		}
	}
}
.menu-center {
	ul {
		li{
			display: inline-block;
			margin-right: 8px;
			text-align: center;
		}
		li:last-child{
			margin-right: 0px;
		}
	}
}
.slideshow-second {
	margin-top: 7px;
	.slick__arrow {
		button {
			top: 35%;
		}
	}
}

.main-banner-img {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: .1;
}
.main-wrapper-banner {
	background: white;
    /* -webkit-clip-path: polygon(0 0,100% 0,100% 100%,0 94%); */
    /* clip-path: polygon(0 0,100% 0,100% 100%,0 94%); */
    margin-bottom: 4rem;
    position: relative;
}
.path-frontpage .page-header {
	display: none;
}

.slideshow-footer-wrapper{
	position: relative;
}