{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}


{# {{ kint(page) }} #}
{# Navbar #}
<div id="header-navbar-wrappers" class="header-navbar-wrappers">
{% if page.navigation or page.navigation_collapsible %}
  {% block navbar %}
    {%
      set navbar_classes = [
        'navbar',
        theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
        theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class : container,
      ]
    %}
    <header{{ navbar_attributes.addClass(navbar_classes) }} id="navbar" role="banner">

      {% if not navbar_attributes.hasClass('container') %}
        <div class="{{ container }}">
      {% endif %}
      {# Menu top #}
      {% if page.secondary_menu %}
        <div class="secondary-menu">
          {{ page.secondary_menu }}
        </div>
      {% endif %}
  	  <div class="row">
        <div class="navbar-header col-sm-12">
          <div class="row">
            {{ page.navigation }}
          </div>
          {# .btn-navbar is used as the toggle for collapsed navbar content #}
          {% if page.navigation_collapsible %}
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
  			      <span class="menu-text"><i class="fa fa-bars" aria-hidden="true"></i>
                {{ 'Menu'|t }}
              </span>
            </button>
          {% endif %}
        </div>
  	  </div>

      {# Navigation (collapsible) #}
      {% if page.navigation_collapsible %}
	  	<div class="row navbar-color">
        <div id="navbar-collapse" class="navbar-collapse collapse col-sm-12">
          {{ page.navigation_collapsible }}
        </div>
		  </div>
      {% endif %}
      {% if not navbar_attributes.hasClass('container') %}
        </div>
      {% endif %}
    </header>
  {% endblock %}
{% endif %}
</div>

{# Header #}
{% if page.header_first  %}
<div class="header-wrapper">
  <div role="header" class="header-container {{ container }} ">
    <div class="row">
    {# Header Second #}
      {% if page.header_second %}
        {% block header_second %}
          <div class="col-sm-3" role="headingsecond">
            {{ page.header_second }}
          </div>
        {% endblock %}
      {% endif %}

      {# Header First #}
	   {%
        set header_first_classes = [
          page.header_second ? 'col-sm-9',
          page.header_second is empty  ? 'col-sm-12'
        ]
      %}

      {% if page.header_first %}
        {% block header_first %}
          <div {{ attributes.addClass(header_first_classes) }} role="headingfirst">
            {{ page.header_first }}
          </div>
        {% endblock %}
      {% endif %}

	</div>
  </div>
</div>
{% endif %}
{# End Header #}

{# Main #}
{% block main %}
  <div role="main" id="main-container" class="main-container {{ container }} js-quickedit-main-content">

	<div class="row">
      {# Sidebar First #}
      {% if page.sidebar_first %}
        {% block sidebar_first %}
          <aside class="col-md-3" role="complementary">
            {{ page.sidebar_first }}
          </aside>
        {% endblock %}
      {% endif %}

      {# Content #}
      {%
        set content_classes = [
          page.sidebar_first and page.sidebar_second ? 'col-md-6',
          page.sidebar_first and page.sidebar_second is empty ? 'col-md-9',
          page.sidebar_second and page.sidebar_first is empty ? 'col-md-9',
          page.sidebar_first is empty and page.sidebar_second is empty ? 'col-md-12'
        ]
      %}
      <section{{ content_attributes.addClass(content_classes) }}>

        {# Highlighted #}
        {% if page.highlighted %}
          {% block highlighted %}
            <div class="highlighted">{{ page.highlighted }}</div>
          {% endblock %}
        {% endif %}

        {# Breadcrumbs #}
        {% if breadcrumb %}
          {% block breadcrumb %}
            {{ breadcrumb }}
          {% endblock %}
        {% endif %}

        {# Title #}
		{% if title %}
          <h1{{ title_attributes.addClass('page-header') }}>{{ title }}</h1>
        {% endif %}
		{# Title #}

        {# Action Links #}
        {% if action_links %}
          {% block action_links %}
            <ul class="action-links">{{ action_links }}</ul>
          {% endblock %}
        {% endif %}

        {# Help #}
        {% if page.help %}
          {% block help %}
            {{ page.help }}
          {% endblock %}
        {% endif %}

        {# Content #}
        {% block content %}
          <a id="main-content"></a>
          {{ page.content }}
        {% endblock %}
      </section>

      {# Sidebar Second #}
      {% if page.sidebar_second %}
        {% block sidebar_second %}
          <aside id="sidebar-second" class="col-md-3" role="complementary">
            {{ page.sidebar_second }}
          </aside>
        {% endblock %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% if page.footer %}
  {% block footer %}
    <div clas="wrapper-footer navbar-color">
      <footer class="footer {{ container }}" role="contentinfo">
        <div class="footer-inner">
            {{ page.footer }}
      </div>
      </footer>
    </div>
  {% endblock %}
{% endif %}
