@charset "utf-8";
/* CSS Document */
/*------------------------------------*\
	RESET
\*------------------------------------*/
a,
a:link,
a:visited {
  color:#b70000;
  text-decoration: none;
}
a:focus,
a:hover,
a:active {
  color: #333;
}
h1, h2, h3, h4, h5, h6 {
  color:#b70000;
}
pre,
div.code {
  border-left: 5px solid #b70000;
}
.highlight {
  background: #b70000;
}
li a.active {
  color: #b70000;
}
.typo-label {
  color: #b70000;
}

/*------------------------------------*\
	Pages CSS
\*------------------------------------*/


/*  Header  */
.header-navbar-wrapper {
  background-color: #b70000;
}

/* Pager */
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #b70000;
  border-color: #b70000;
}
.pagination > li > a, .pagination > li > span {
  color: #b70000;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  color: #fff;
  background-color: #b70000;
}

/*------------------------------------*\
	NAVIGATION CSS
\*------------------------------------*/
/*
 * Main menu links
 */
#block-senapi-main-menu ul.menu li:hover a,
#block-senapi-main-menu ul.menu li.active a,
#block-senapi-main-menu ul.menu li.active-trail a,
#block-senapi-main-menu ul.menu li a.active,
#block-senapi-main-menu ul.menu li a.is-active,
#block-senapi-main-menu ul.menu li a:hover,
#block-senapi-main-menu ul.menu li.open a {
  color: #fff;
  background-color: #9E0000;
}

#block-senapi-main-menu ul.menu li li.open a:hover,
#block-senapi-main-menu ul.menu li li.open a.active,
#block-senapi-main-menu ul.menu li:hover li a:hover,
#block-senapi-main-menu ul.menu li:hover li a.active,
#block-senapi-main-menu ul.menu li.open li a:hover,
#block-senapi-main-menu ul.menu li.open li a.active,
#block-senapi-main-menu ul.menu li.open li.open a,
#block-senapi-main-menu ul.menu li.active li a:hover,
#block-senapi-main-menu ul.menu li.active li a.active,
#block-senapi-main-menu ul.menu li.active li.active a,
#block-senapi-main-menu ul.menu li:hover li:hover li a:hover,
#block-senapi-main-menu ul.menu li.open li.open li a:hover,
#block-senapi-main-menu ul.menu li.open li.open li a.active,
#block-senapi-main-menu ul.menu li.active li.active li.active a:hover,
#block-senapi-main-menu ul.menu li.active li.active li.active a.active {
  background: #9E0000 url(../images/mainmenu-active.png);
  color: #fff;
  margin-bottom: 0;
}
#block-senapi-main-menu ul.menu ul {
  background: #9E0000;
}

/* Search menu item */
#block-senapi-main-menu ul.menu li:last-child {
  background-color: #9E0000;
}

/* User menu */
.block-system-user-menu ul.menu a {
  border-right: 1px solid #c7e5e5;
  color: #c7e5e5;
}
.block-system-user-menu ul li.last a {
  border: none;
}
.block-system-user-menu ul.menu a:hover,
.block-system-user-menu ul.menu a.active {
  color: #fff;
}

/* Footer menu */
#block-senapi-footer {
  border-bottom: 2px solid #b70000;
}
#block-senapi-footer ul.menu li a:hover,
#block-senapi-footer ul.menu li a.active {
  color: #b70000;
}

/* Mobile menu */
@media only screen  and (max-width: 767px) {
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      	  background: #b70000 url(../images/mainmenu-active.png);
	  border-color: #b70000;
	}
}

/*------------------------------------*\
	BLOCKS CSS
\*------------------------------------*/

h2.block-title {
  border-bottom: 2px solid #b70000;
}
.views-field-view-node a:hover,
li.node-readmore a:hover {
  color: #b70000;
}
article.node-article.node-teaser .node-title a:hover,
article.node-photos.node-teaser .node-title a:hover,
.view-article-slideshow .attachment .views-field-title a:hover,
.block-topic-news .view-content .views-field-title a:hover,
.block-topic-news .attachment .more-link a:hover,
.block-breaking-news h2.block-title,
.block-breaking-news .content .views-field-title a:hover,
article.node-article.node-teaser .node-title a:hover,
.block-latest-news .views-row .views-field-title a:hover,
.block-most-read .views-row .views-field-title a:hover,
.block-video-block .views-field-title a:hover,
.block-comments-recent-block li a:hover, 
.view-list-articles .views-field-title a:hover,
.view-more-articles .views-row .views-field-title a:hover,
.view-list-videos .views-row .views-field-title a:hover {
  color: #b70000;
}

/* Block slideshow */
.view-list-photos .views-slideshow-pager-fields .views-slideshow-pager-field-item.active,
.view-article-slideshow .views-slideshow-pager-fields .views-slideshow-pager-field-item.active {
  background: url(../images/blue/slideshow-nav-active.png) 0 0 no-repeat;
}
.view-list-photos .views-row .views-field-title a:hover {
  color: #b70000; 
}
ul.slick-dots li.slick-active button {
  background: #b70000; 
}

/*------------------------------------*\
	FORMS CSS
\*------------------------------------*/
button, input[type="reset"], input[type="submit"], input[type="button"],
#block-simplenewssubscription button#edit-subscribe { background: none repeat scroll 0 0 #b70000; }
input.form-submit:hover,
.section-content .block-simplenews .block-inner input.form-submit:hover {
  background-color: #9E0000; /*url(../images/blue/button-hover.png) 0 center repeat-x;*/
}
.section-content .block-simplenews .block-inner input.form-submit {
  background-color: #b70000; /*url("../images/blue/button-hover.png") repeat-x scroll 0 center rgba(0, 0, 0, 0);*/
}
ul.primary li.active a,
ul.primary li.active a:hover,
ul.primary li.active a:focus {
  background-color: #b70000;
}
