@charset "utf-8";
/* CSS Document */
/*------------------------------------*\
	RESET
\*------------------------------------*/

body {
  margin: 0;
  padding: 0;
  font-size: 13px; /* 13px */
  line-height: 1.846;
  font-family: 'Open Sans',Arial,Helvetica,Verdana,"Bitstream Vera Sans",sans-serif;
  background: #EEE; /* background: url(../images/body-bg.jpg); */
}
a,
a:link,
a:visited {
  color:#b70000;
  text-decoration: none;
}
a:focus,
a:hover,
a:active {
  color: #000;
}
/*--- HEADINGS ---*/
h1{
  font-size:2em;      /* 24px */
  margin-bottom:1em;  /* 24px */
  line-height:1;    /* 24px */
  font-weight: bold;
}
h2{
  font-size:1.6em;    /* 19.5px */
  margin-bottom:1.3333em;    /* 24px */
  line-height:1.3333;      /* 24px */
  font-weight: bold;
}
h3{
  font-size:1.4em;    /* 16.25 */
  margin-bottom:1.477em;  /* 24px */
  line-height:1.477;    /* 24px */
  font-weight: bold;
}
h4{
  font-size:1.2em;    /* 14.6px */
  margin-bottom:1.64em;  /* 24px */
  line-height:1.64;    /* 24px */
}
h5{
  font-weight:bold;
}
h5,
h6{
  font-size:1em;      /* 16px */
  margin-bottom:1.5em;  /* 24px */
  line-height:1.5;    /* 24px */
}
h6.site-slogan { font-size: 1em; text-align: center; }
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans Condensed", Arial,Helvetica,Verdana,sans-serif;
}
h1.page-header {
  color: #222;
  font-weight: bold;
  line-height: 1.3333;
  margin-bottom: 1em;
  padding: 10px 0 15px;
  border-bottom: 1px solid #ddd;;
}
p, address, pre, table {
    margin-bottom: 1.846em;
}
ul, ol {
  margin: 10px 0 10px 20px;
}
article.node ul, article.node ol {
  margin: 0 0 1.846em 60px;
}
pre,
div.code {
  border-left: 5px solid #b70000;
  background: #eee;
  color: #000;
  padding: 0.2em 10px;
}
.highlight {
  background: #b70000;
  color: #fff;
}
blockquote {
  padding-left: 60px;
  background: url(../images/blockquote.png) 0 0 no-repeat;
}

.typo-label {
  font-size:1.4em;    /* 18px */
  margin-bottom:1.333em;    /* 24px */
  line-height:1.333;
  padding: 0px 10px;
  color: #b70000;
  background: #DCDACE;
  border: 0px solid #b70000;
}
.btn {
  border-radius: 0;
  padding: 0.7em 1.5em;
  font-weight: bold;
}

img {
  max-width: 100%;
}

/*------------------------------------*\
	Pages Background
\*------------------------------------*/
#page {
}
/*  Zone branding  */
.header-navbar-wrapper {
  background-color: #b70000; /* url(../images/header-bg.png); */
}
.navbar-default {
  background: none;
  border: none;
  margin-bottom: 0;
}
.navbar-header {
  background: url(../images/mainmenu-border.png) 0 100% repeat-x;
}

/* Zone submenu */
.zone-submenu-wrapper {
  background-color: #9E0000; /* url(../images/submenu-bg.png); */
  display: none;
}

/* Zone header */
.header-wrapper {
  border-bottom: 1px solid #ddd;
  background: #fff;
  /*padding-top: 40px;
  padding-bottom: 10px;*/
}

/* Zone content */
.main-container {
  /*padding-top: 40px;*/
  padding-top: 30px;
  padding-bottom: 20px;
}

/* Zone footer */
.footer {
  background: none;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 10px;
}
.footer-inner {
  background: #fff;
  border: none;
  padding: 15px;
  overflow: hidden;
}

/* Region Sidebar Second */
.blockFloat-processed {
  margin-left: -1px;
}
#region-sidebar-second {
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  padding-right: 10px;
}

/*------------------------------------*\
	Pages CSS
\*------------------------------------*/
/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
.site-branding {
  float: left;
  margin: 20px 0;
  width: 100%;
  text-align: center;
}
a.logo /* Wrapping link for logo */ {
  text-align: center;
  width: 100%;
}

.navbar-header .navbar-text /* Wrapper for website name and slogan */ {
  clear: left;
  color: #000;
  font-family: "Open Sans Condensed",Arial,Helvetica,Verdana,sans-serif;
  font-size: 15px;
  margin: 0 0 10px;
  float: none;
}

h1#site-name,
div#site-name /* The name of the website */ {
  margin: 0;
  font-size:1.4em;    /* 19.5px */
  line-height:1.3333;
}

#site-slogan /* The slogan (or tagline) of a website */ {
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
  padding-bottom: 1.846em;
  display: none;
}

h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title /* Comment title */ {
  margin: 0;
}
/* Page and full node titles */
h1.title {
  color:#222;
  font-weight: bold;
  margin-bottom: 1em;
  font-size: 180%;
  line-height: 1.3333;
  font-family: "Open Sans Condensed", Arial,Helvetica,Verdana,sans-serif;
  padding: 10px 0px 0;
}

/* Table */
table.no-border {
  margin: 0;
}
table.no-border tr,
table.no-border td {
  border: none;
  background: none;
}
tr:hover td,
tr.even:hover td.active,
tr.odd:hover td.active {
  background: none;
}
tr.odd /* Some tables have rows marked even or odd. */ {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
  background-color: #fff !important;
}
th, tr.even {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
  background-color: #f7f7f7 !important;
}
th { font-family: 'Open Sans Condensed',Arial,sans-serif; font-size: 110%; text-transform: uppercase; }

/* Messages */
div.messages /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */ {
  margin: 1.846em 0; /* Drupal core uses "6px 0" margin */
}

div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status /* Normal priority messages */ {
}

div.warning,
tr.warning /* Medium priority messages */ {
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error /* High priority messages. See also the .error declaration below. */ {
}

.error /* Errors that are separate from div.messages status messages. */ {
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages. */ {
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

div.tabs /* See also the tabs.css file. */ {
}

.more-help-link /* Link to more help */ {
}


ul.links /* List of links */ {
}

ul.links.inline {
  display: block; /* Let the links be inline, but the container be a block. */
}

ul.links li {
  padding: 0 1em 0 0; /* LTR */
}
li.comment-add a,
li.comment-add a.active {
  float: right;
}
li.comment_forbidden {
  float: right;
}

/* Pager */
.pagination > li:first-child > a, .pagination > li:first-child > span {
  margin-right: 4px;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}
.pagination > li > a, .pagination > li > span {
  margin: 0 4px;
  color: #b70000;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
  margin-left: 4px;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #b70000;
  border-color: #b70000;
}

.feed-icon /* The link to the RSS or Atom feed for the current list of content */ {
}
.feed-link img {
  padding: 0 0 5px 5px;
}
.more-link /* Aggregator, blog, and forum more link */ {
}
.tabs--primary {
  margin-bottom: 20px;
}
/*------------------------------------*\
	NAVIGATION CSS
\*------------------------------------*/
/*
 * The active item in a Drupal menu
 */
li a.active {
  color: #b70000;
}

/*
 * Navigation bar
 */
#navigation {
  /* overflow: hidden; /* Sometimes you want to prevent overlapping with main div. */
}

#navigation ul.links, /* Main menu and secondary menu links */
#navigation .content ul /* Menu block links */ {
  margin: 0;
  padding: 0;
  text-align: left; /* LTR */
}

#navigation ul.links li, /* A simple method to get navigation links to appear in one line. */
#navigation .content li {
  float: left; /* LTR */
  padding: 0 10px 0 0; /* LTR */
  list-style-type: none;
  list-style-image: none;
}

/* Nagivation Menu */
#block-system-navigation ul { margin: 10px 0 10px 20px; }

/*
 * Main menu links
 */
.zone-menu .block {
  margin: 0;
}
ul#main-menu,
.zone-menu ul.menu {
  margin:0;
  padding: 10px 0 10px 0;
  width: 100%;
  float: left;
}
ul#main-menu li,
.zone-menu ul.menu li {
  display: inline;
  margin:0;
  padding:0;
  list-style: none;
}
ul#main-menu li a,
.zone-menu ul.menu li a {
  display: inline-block;
  padding: 7px 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  font-family: "Open Sans Condensed", Arial,Helvetica,Verdana,sans-serif;
}
ul#main-menu li a:hover,
ul#main-menu li a.active:hover,
ul#main-menu li a.active,
.zone-menu ul.menu li a:hover,
.zone-menu ul.menu li a.active:hover,
.zone-menu ul.menu li a.active,
.zone-menu ul.menu li.active-trail a {
  background: url(../images/submenu-bg.png) 0 0 repeat;
}

.zone-menu .block-nice-menus {
   margin-bottom: 20px;
}
.navbar-collapse {
  padding: 0;
  width: 100%;
  border: none;
}
.navbar-default .navbar-toggle {
  border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
  background: #fff;
}
#block-senapi-main-menu > ul.menu {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  background: none;
}

ul.nice-menu, ul.nice-menu ul {
  z-index: 15;
}
ul.nice-menu-down li.menuparent {
  background: none; /* LTR */
}
ul.nice-menu-down li.menuparent:hover {
  background: none; /* LTR */
}
#block-senapi-main-menu ul.menu li {
  display: inline-block;
  list-style: none;
  margin:0;
  padding: 0;
  background: none;
  border: none;
  z-index: 2;
  float: none;
}
#block-senapi-main-menu ul.menu li.first {
  background: none;
}
#block-senapi-main-menu ul.menu li.menu-path-nolink span,
#block-senapi-main-menu ul.menu li a {
  display: inline-block;
  color: #fff;
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 120%;
  font-family: "Open Sans Condensed", Arial,Helvetica,Verdana,sans-serif;
}

#block-senapi-main-menu ul.menu li.over {
  background: none;
}
#block-senapi-main-menu ul.menu li:hover a,
#block-senapi-main-menu ul.menu li.active a,
#block-senapi-main-menu ul.menu li.active-trail a,
#block-senapi-main-menu ul.menu li a.active,
#block-senapi-main-menu ul.menu li a.is-active,
#block-senapi-main-menu ul.menu li a:hover,
#block-senapi-main-menu ul.menu li.open a {
  color: #fff;
  background-color: #9E0000; /* url(../images/submenu-bg.png) 0 0 repeat; */
}

#block-senapi-main-menu ul.menu ul {
  border: none ;
  background-color: #9E0000; /* url(../images/submenu-bg.png); */
  /*top: 3em;*/
  z-index: 9999;
  text-align: left;
}
#block-senapi-main-menu ul.menu ul ul {
  top: 0;
}
#block-senapi-main-menu ul.menu li li,
#block-senapi-main-menu ul.menu li.open li {
  background: url(../images/mainmenu-border.png) 0 0 repeat-x;
  border: none;
  padding: 2px 0 0;
  width: 100%;
}

#block-senapi-main-menu ul.menu li li:hover a,
#block-senapi-main-menu ul.menu li li a,
#block-senapi-main-menu ul.menu li.active li a,
#block-senapi-main-menu ul.menu li.open li a,
#block-senapi-main-menu ul.menu li li li a,
#block-senapi-main-menu ul.menu li.active li.active li a,
#block-senapi-main-menu ul.menu li.open li.open li a {
  padding: 13px 20px;
  display: block;
  color: #fff;
  font-size: 100%;
  margin-bottom: 0;
  background: none;
  text-transform: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow:none;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}
#block-senapi-main-menu ul.menu li li.open a:hover,
#block-senapi-main-menu ul.menu li li.open a.active,
#block-senapi-main-menu ul.menu li:hover li a:hover,
#block-senapi-main-menu ul.menu li:hover li a.active,
#block-senapi-main-menu ul.menu li.open li a:hover,
#block-senapi-main-menu ul.menu li.open li a.active,
#block-senapi-main-menu ul.menu li.open li.open a,
#block-senapi-main-menu ul.menu li.active li a:hover,
#block-senapi-main-menu ul.menu li.active li a.active,
#block-senapi-main-menu ul.menu li.active li.active a,
#block-senapi-main-menu ul.menu li:hover li:hover li a:hover,
#block-senapi-main-menu ul.menu li.open li.open li a:hover,
#block-senapi-main-menu ul.menu li.open li.open li a.active,
#block-senapi-main-menu ul.menu li.active li.active li.active a:hover,
#block-senapi-main-menu ul.menu li.active li.active li.active a.active {
  background: #9E0000 url(../images/mainmenu-active.png);
  color: #fff;
  margin-bottom: 0;
}

@media only screen  and (max-width: 767px) {
	#block-senapi-main-menu ul.menu li {
	  width: 100%;
	  text-align: left;
      background: url(../images/mainmenu-border.png) 0 0 repeat-x;
	}
	#block-senapi-main-menu ul.menu li a {
	  display: block;
	}
	.navbar-toggle {
	  width: 100%;
	  margin: 0 0 20px;
	  font-size: 16px;
	  text-align: center;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      	  background: #9E0000 url(../images/mainmenu-active.png);
	  border-color: #9E0000;
	}
}
@media only screen  and (min-width: 768px) {
	#block-senapi-main-menu ul.menu li.expanded.dropdown:hover > ul.dropdown-menu {
	  display: block;
	}
  #block-senapi-main-menu ul.menu li.expanded.dropdown-submenu:hover > ul.dropdown-menu {
    display: block;
  }
	/* Search menu item */
	#block-senapi-main-menu ul.menu li:last-child {
	  float: right;
	  background-color: #9E0000;
	}
	#block-senapi-main-menu ul.menu li a.menu-path-search:hover,
	#block-senapi-main-menu ul.menu li a.menu-path-search.active-trail,
	#block-senapi-main-menu ul.menu li a.menu-path-search {
	  background: url(../images/search_icon_16.png) center center no-repeat;
	  text-indent: 100px;
	  width: 50px;
	  height: 48px;
	  overflow: hidden;
	  float: right;
	  padding: 0;
	}
}
/* User menu */
.zone-branding .block-system-user-menu {
  display: none;
}
.block-system-user-menu {
  float: right;
  width: 100%;
}
.block-system-user-menu ul.menu {
  float: right;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
.block-system-user-menu ul.menu li {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.block-system-user-menu ul.menu a {
  float: left;
  margin: 0;
  padding: 0px 10px;
  line-height: 1;
  border-right: 1px solid #e1c0c0;
  color: #e1c0c0;
}
.block-system-user-menu ul li.last a {
  border: none;
}
.block-system-user-menu ul.menu a:hover,
.block-system-user-menu ul.menu a.active {
  color: #fff;
}

/* Footer menu */
#block-senapi-footer {
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 2px solid #b70000;
  padding-top: 15px;
  padding-bottom: 10px;
}
#block-senapi-footer ul.menu {
  margin: 0px 0 0;
  padding:0;
  text-align: center;
}
#block-senapi-footer ul.menu li {
  margin:0;
  padding:0;
  list-style: none;
  display: inline-block;
}
#block-senapi-footer ul.menu li a {
  display: block;
  padding: 0px 10px;
  color: #333;
}
#block-senapi-footer ul.menu li a:hover,
#block-senapi-footer ul.menu li a.active {
  color: #b70000;
}
#block-senapi-footer ul.menu li.last a {
  border: none;
}

/*------------------------------------*\
	NODES CSS
\*------------------------------------*/

.node /* Node wrapper */ {
}

.preview .node /* Preview of the content before submitting new or updated content */ {
  /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}

.node-promoted /* A node that has been promoted to the front page */ {
}

.node-sticky /* A sticky node (displayed before others in a list) */ {
}

.node-unpublished /* Unpublished nodes */ {
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.node-unpublished div.unpublished,
.comment-unpublished div.unpublished /* The word "Unpublished" displayed underneath the content. */ {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; /* A very nice CSS3 property */
}

.node-by-viewer /* A node created by the current user */ {
}

.node-teaser /* A node displayed as teaser */ {
}

/* All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
.node-page /* Page content node */ {
}

.node--type-article /* Article content node */ {
  margin-bottom: 20px;
}

h2.node-title /* Node title */ {
}

.node .user-picture /* The picture of the node author */ {
}

.node .node-links {
}
.node .submitted /* The "posted by" information */ {
  color: #666;
  font-size: 90%;
  padding-bottom: 20px;
}

.node .content /* Node's content wrapper */ {
}
body.page-node .node .field-name-field-intro {
  font-weight: bold;
  margin-top: 20px;
}
.node ul.links /* Node links. See also the ul.links declaration in the pages.css. */ {
  margin-left: 0;
}


/* Services Links */
.service-links ul.links {
  float: left;
  margin:0;
  padding:0;
}
.service-links ul.links li {
  list-style: none;
  float: left;
  padding-right: 20px;
}

/* Article node form */
#edit-field-related-news { width: 100%; }
#edit-field-intro { clear: left; }

/* Empty homepage node */
/*
body.front h1.title { display: none; }
body.front .block-system-main { display: none; }
*/

/*------------------------------------*\
	FIELDS CSS
\*------------------------------------*/

.field--name-field-tags .field__items .field--item {
  display: inline-block;
  padding-left: 10px;
}

/*------------------------------------*\
	COMMENTS CSS
\*------------------------------------*/
/* Comment */
.comments {
  margin-top: 30px;
}
article.comment {
 border-bottom: 1px solid #eee;
 padding: 20px;
 overflow: hidden;
}
h3.comment_title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
}
h3.comment_title a {
  color: #333;
  text-transform: uppercase;
}
.comment-author-picture {
  text-align: center;
  margin-bottom: -300px;
  padding-bottom: 300px;
  position: relative;
  z-index: 2;
  margin-top: 20px;
}
.comment-author-picture:before {
    background: #ddd none repeat scroll 0 0;
    content: "";
    height: 600px;
    left: 50%;
    margin-left: -1px;
    position: absolute;
    top: 0;
    width: 1px;
    z-index: -1;
}

.comment-author-picture .field--name-user-picture {
  margin-bottom: 10px;
  text-align: center;
  width: 80px;
}
.comment-author-picture .field--name-user-picture img {
  width: 80px;
  height: 80px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}
.comment__meta {
  padding-bottom: 10px;
  color: #999;
}
.comment__permalink {
  display: none;
}
.comment__content nav {
  text-align: right;
}
h2.comment-form__title {
  padding: 0 20px;
}
form#comment-form {
  margin: 0 20px;
}


/*------------------------------------*\
	NEWS CSS
\*------------------------------------*/

/* Trending Topic */
.page-topic-trending h1.title {
  display: none;
}
.page-topic-trending .region-content-inner {
  background: #fff;
}
/* Article Slideshow */
.page-new-stories h1.title {
  display: none;
}
.page-new-stories .region-content-inner {
  padding: 0 !important;
  background: url(../images/body-bg.jpg) !important;
}
body.path-not-frontpage.page-new-stories .main-container .block-inner {
  padding: 20px;
}
.page-new-stories .main-container #block-system-main .block-inner {
  background: none repeat scroll 0 0 #fff;
  overflow: hidden;
  padding: 0 !important;
}

/* Block Article Large Slideshow */
.view-slideshow-front .slide__content {
  position: relative;
}
.view-slideshow-front .slide__caption {
  background: rgba(0,0,0,0.3);
  margin: 0;
  padding: 7px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 2;
  color: #fff;
  float: left;
  clear: left;
}
.view-slideshow-front .slide__caption h2.slide__title {
  font-size: 120%;
  font-weight: bold;
  font-family:"Open Sans Condensed",Arial,Helvetica,Verdana,sans-serif;
  text-transform: uppercase;
  margin: 0;
}
.view-slideshow-front .slide__caption h2.slide__title a {
  color: #fff;
}
.view-slideshow-front ul.slick-dots {
  position: absolute;
  right: 10px;
  bottom: 0px;
  z-index: 3;
}
ul.slick-dots {
  margin: 0;
  padding: 0;
  text-align: center;
}
ul.slick-dots li {
  list-style: none;
  margin: 3px;
  padding: 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
ul.slick-dots li button {
  float: left;
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: #333;
  text-indent: 100px;
  overflow: hidden;
}
ul.slick-dots li.slick-active button {
  background: #FF0000;
}

.slick__arrow button {
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    display: block;
    height: 40px;
    margin: -20px 0 0;
	padding: 0;
    overflow: hidden;
	opacity: 0.5;
    position: absolute;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    top: 50%;
    transition: all 0.3s ease 0s;
    width: 40px;
    z-index: 1;
  font-family: "fontawesome";
  font-size: 30px;
  line-height: 40px;
  background: #8a8986;
}
.slick__arrow button:hover {
  opacity: 1;
}

.slick__arrow button.slick-prev {
  left: 15px;
}
.slick__arrow button.slick-next {
  right: 15px;
}
.slick__arrow button.slick-prev:before {
  content: "\f104";
}
.slick__arrow button.slick-next:before {
  content: "\f105";
}

/* Slideshow */
.view-article-slideshow {
  float: left;
  width: 100%;
}
.view-article-slideshow .view-content {
  float: left;
  width: 100%;
  margin: -10px -10px 20px;
  background: #666;
  padding: 10px;
  position: relative;
}
.view-article-slideshow .view-content .views-row {
  width: 100%;
}
.view-article-slideshow .views-field-field-image {
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  margin-top: 5px;
  margin-right: 10px;
  float: left;
}

.view-article-slideshow .slide__title a {
  color: #fff;
  font-weight: normal;
}
.view-article-slideshow .views-field-field-image img {
  width: 250px;
  display: inline;
}
.view-article-slideshow .views-field-title {
  float: left;
  width: 100%;
  text-align: center;
}
.view-article-slideshow .views-field-title a {
  font-size: 120%;
  line-height: 1.2;
  color: #fff;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", Arial,Helvetica,Verdana,sans-serif;
}

.view-article-slideshow .attachment {
  float: left;
  width: 100%;
}
.view-article-slideshow .attachment .view-content {
  background: none;
  padding: 0 0 0 10px;
  margin: 0;
  width: auto;
}
.view-article-slideshow .attachment .view-content .views-row {
  margin: 0;
  background: none;
  padding: 0 0 10px;
  height: auto;
  float: left;
  width: 100%;
}
.view-article-slideshow .attachment .views-field-field-image {
  width: 50px;
  float: right;
  margin-left: 20px;
  padding: 0;
}
.view-article-slideshow .views-field-field-image:hover {
  opacity: 0.5;
}
.view-article-slideshow .attachment .views-field-title {
  float: none;
  text-align: left;
  width: auto;
}
.view-article-slideshow .attachment .views-field-title a {
  font-size: 110%;
  font-weight: bold;
  text-transform: uppercase;
  color: #222;
}
.view-article-slideshow .attachment .views-field-title a:hover {
  color: #b70000;
}
.view-article-slideshow .attachment .views-field-body p {
  margin: 0;
  font-size: 100%;
  line-height: 1.5;
  color: #666;
}

/* Article Slider - Large */
.view-slideshow-front .flexslider {
  margin-bottom: 0;
}
.view-slideshow-front .views-field-title {
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  float: left;
}
.view-slideshow-front .views-field-title a {
  color: #fff;
  padding: 20px;
  float: left;
  font-size: 120%;
  font-family: "Open Sans Condensed",Arial,Helvetica,Verdana,sans-serif;
  font-weight: bold;
}
.view-slideshow-front .flex-control-nav {
  bottom: 13px;
  float: right;
  right: 10px;
  width: auto;
  z-index: 10;
}
.block-views-slideshow-front-block {
  padding: 0 10px;
  margin-bottom: 40px !important;
}

/* List Articles */
.view-list-articles .views-row {
  float: left;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

/* Comment this out when using Infinite scroll
.view-list-articles .views-row-last {
  padding-bottom: 0;
  border-bottom: none;
}
*/

.view-list-articles .views-field-field-image .field-topic {
  position: absolute;
  top: 5px;
  left: 5px;
  float: left;
  padding: 5px 10px;
  background: #b70000;
}
.view-list-articles .views-field-field-image .topic-1 {
  background: #ffcc00; /* Travel Topic - Term ID = 1 */
}
.view-list-articles .views-field-field-image .topic-2 {
  background: #00ff66; /* Technology Topic - Term ID = 2 */
}
.view-list-articles .views-field-field-image .topic-3 {
  background: #ff3300; /* Sport Topic - Term ID = 3 */
}
.view-list-articles .views-field-field-image .topic-4 {
  background: #1db6b6; /* Business Topic - Term ID = 4 */
}
.view-list-articles .views-field-field-image .topic-5 {
  background: #9966cc; /* Health Topic - Term ID = 5 */
}
.view-list-articles .views-field-field-image .topic-6 {
  background: #ff0066; /* Culture Topic - Term ID = 6 */
}
.view-list-articles .views-field-field-image .field-topic a {
  color: #fff;
}
.view-list-articles .views-field-field-image {
  float: left;
  margin: 0 0 10px;
  width: 100%;
  position: relative;
}
.view-list-articles .views-field-field-image img {
  margin: 0;
  width: auto;
}
.view-list-articles .views-field-title {
  padding-bottom: 10px;
}
.view-list-articles .views-field-title a {
  font-size: 150%;
  line-height: 1;
  font-weight: bold;
  color: #222;
  font-family: "Open Sans Condensed",Arial,Helvetica,Verdana,sans-serif;
}
.view-list-articles .views-field-title a:hover {
  color: #b70000;
}
.view-list-articles .views-field-created,
.view-list-articles .views-field-uid,
.view-list-articles .views-field-comment-count {
  color: #aaa;
  padding-bottom: 10px;
  text-transform: uppercase;
  display: inline-block;
}
.views-field-comment-count .field-content {
  position: relative;
  padding-left: 20px;
  margin-left: 20px;
}
.views-field-comment-count .field-content:before {
  position: absolute;
  top: -4px;
  left: 0;
  content: "\f0e6";
  font-family: "fontawesome";
  font-size: 14px;
}
.view-list-articles .views-field-view-node a {
  color: #999;
  background: none;
  font-weight: bold;
  float: none;
  padding: 0;
}
.view-list-articles .views-field-body {
  margin-bottom: 15px;
}

/* News home page */
.region-content h2.block-title,
.region-content-bottom-first h2.block-title,
.region-content-bottom-second h2.block-title {
  margin-bottom: 20px;
}
.block-topic-news {
  position: relative;
}
.block-topic-news.block-topic-news-list .view-content,
.block-topic-news.block-topic-news-large .view-content,
.block-topic-news .view-content {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #ddd;
}
.block-topic-news.block-topic-news-list .view-content {
  border-bottom: 0;
}
.block-topic-news.block-topic-news-list .view-content .views-row {
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  padding-bottom: 15px;
  float: left;
  width: 100%;
}
.block-topic-news.block-topic-news-list .view-content .views-row:last-child {
  border-bottom: none;
  margin: 0;
  padding: 0;
}
.block-topic-news.block-topic-news-list .view-content .views-row.views-row-last {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.block-topic-news .view-content .views-field-title {
  margin-bottom: 10px;
}
.block-topic-news .view-content .views-field-title a {
  font-size: 110%;
  font-weight: bold;
  color: #222;
  line-height: 1.2;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", Arial,Helvetica,Verdana,sans-serif;
}
.block-topic-news .view-content .views-field-body {
  margin-top: 8px;
}
.block-topic-news.block-topic-news-list .view-content .views-field-title a {
  font-size: 110%;
  font-weight: bold;
  text-transform: none;
}
.block-topic-news .view-content .views-field-title a:hover {
  color: #b70000;
}
.block-topic-news .view-content .views-field-field-image {
  float: left;
  margin: 15px 0;
  width: 100%;
}
.block-topic-news .view-content .views-field-field-image img {
  width: 100%;
}
.block-topic-news.block-topic-news-list .view-content .views-field-field-image {
  margin: 0 20px 0 0;
  width: 80px;
}
.block-topic-news.block-topic-news-large .view-content .views-field-field-image {
  margin-top: 0;
  width: 100%;
}
.block-topic-news .view-content .views-field-field-image:hover {
  opacity: 0.5
}
.block-topic-news .view-content .views-field-created,
.block-topic-news .view-content .views-field-uid,
.block-topic-news .view-content .views-field-comment-count {
  color: #999;
  text-transform: uppercase;
  display: inline-block;
}
.block-topic-news.block-topic-news-list .view-content .views-field-body {
  padding-top: 10px;
}
.block-topic-news.block-topic-news-large .attachment,
.block-topic-news .attachment {
  width: 100%;
  float: left;
  margin: 15px 0 0 0px;
}
.block-topic-news .attachment .view-content {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
.block-topic-news .attachment .views-row {
  padding: 0 0 15px;
  margin:  0 0 15px;
  border-bottom: 1px solid #ddd;
  width: 100%;
  float: left;
  clear: left;
}
.block-topic-news .attachment .views-row:last-child {
  border-bottom: none;
  margin: 0;
  padding: 0;
}
.block-topic-news .attachment .views-row-last {
  border: none;
  margin: 0;
  padding: 0;
}
.block-topic-news .attachment .view-content .views-field-field-image {
  float: left;
  margin: 0 20px 0 0;
  width: 60px;
}
.block-topic-news .attachment .view-content .views-field-title a {
  font-size: 110%;
  font-weight: bold;
  padding:0 0 5px;
  text-transform: none;
}
.block-topic-news .view-content .views-field-body p {
  margin: 0;
  color: #666;
  line-height: 1.8;
}
.block-topic-news .attachment .view-content .views-field-body p {
  font-size: 90%;
  line-height: 1.5;
  color: #666;
}
.block-topic-news .more-link {
  margin-top: 10px;
  position: absolute;
  top: -59px;
  right: 0;
}
.block-topic-news .more-link a {
  color: #666;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 90%;
  background: url(../images/view-more.png) right center no-repeat;
  padding-right: 30px;
}
.block-topic-news .attachment .more-link a:hover {
  color: #b70000;
}

/* News Blog Home */
#block-views-news-blog-block-2 h2.block-title { margin-top: 10px; }

/* Block breaking news */
.block.block-breaking-news {
  margin: 0;
  padding: 10px 0;
}
.block-breaking-news h2.block-title {
  color: #b70000;
  border: none;
  width: auto;
  padding: 0;
  margin: 0;
}
.block-breaking-news .content .views-row {
  width: 100%;
}
.block-breaking-news .content .views-field-title a {
  color: #666;
  float: left;
}
.block-breaking-news .content .views-field-title a:hover {
  color: #b70000;
}

/* Recent news */
.main .field-field-image img {
  float: left;
  clear: left;
  margin-right: 20px;
  margin-top: 15px;
}
article.node--type-article.node-teaser,
article.node--type-gallery.node-teaser,
article.node--type-video.node-teaser {
  float:left;
  width: 100%;
  clear: left;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px dashed #DCDACE;
}
article.node--type-article.node-teaser .node-title a,
article.node--type-gallery.node-teaser .node-title a,
article.node--type-video.node-teaser .node-title a {
  font-size: 100%;
  font-weight: bold;
  float: left;
  width: 100%;
  margin-bottom: 10px;
  color: #000;
  font-family: "Open Sans Condensed", Arial,Helvetica,Verdana,sans-serif;
}
article.node--type-article.node-teaser .node-title a:hover,
article.node--type-gallery.node-teaser .node-title a:hover,
article.node--type-video.node-teaser .node-title a:hover {
  color: #b70000;
}

article.node--type-article.node-teaser .user-picture,
article.node--type-gallery.node-teaser .user-picture,
article.node--type-video.node-teaser .user-picture {
  width: 24px;
}

article.node--type-article.node-teaser .user-picture,
article.node--type-article.node-teaser footer.submitted,
article.node--type-gallery.node-teaser .user-picture,
article.node--type-gallery.node-teaser footer.submitted,
article.node--type-video.node-teaser .user-picture,
article.node--type-video.node-teaser footer.submitted {
  display: inline-block;
}

article.node--type-article.node-teaser .field-name-field-video img,
article.node--type-article.node-teaser .field-name-field-images img
article.node--type-article.node-teaser .field-name-field-image img {
  width: 150px;
}
article.node--type-article.node-teaser .field-name-field-image img:hover {
  opacity: 0.5
}

.views-field-service-links {
  float: right;
  width: 100%;
  text-align: center;
}
.views-field-service-links ul.links {
  margin:0;
  padding:0;
  float: left;
}
.views-field-service-links ul.links li {
  margin:0;
  padding:0;
  list-style: none;
  float: left;
}

/* Article detail */
.page-node-type-article h1.page-header,
.page-node-type-video h1.page-header,
.page-node-type-gallery h1.page-header {
  border-bottom: none;
  padding-bottom: 0;
}
.header-info {
  float: left;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 20px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.header-info .label,
.header-info .field-label {
  color: #666;
  font-size: 100%;
  font-weight: normal;
  padding: 0;
}
.header-info .article-create-date,
.header-info .article-author,
.header-info .article-tags {
  float: left;
  padding-right: 20px;
}
.header-info i,
.header-info label,
.header-info .field--name-field-category,
.header-info .field--name-field-category .field--label,
.header-info .field--name-field-category .field--item {
  float:left;
}

.header-info .field--name-field-category .field--label {
  font-weight: normal;
}
.header-info i {
  line-height: 24px;
  padding-right: 5px;
}
article.node--type-gallery.node-teaser ul.links,
article.node--type-video.node-teaser ul.links,
article.node--type-article.node-teaser ul.links {
  margin-bottom: 0;
}

article.node--type-gallery.node-teaser ul.links li,
article.node--type-video.node-teaser ul.links li,
article.node--type-article.node-teaser ul.links li {
  float: left;
  padding-right: 10px;
  padding-top: 2px;
}

article.node--type-gallery.node-teaser ul.links li.node-readmore,
article.node--type-video.node-teaser ul.links li.node-readmore,
article.node--type-article.node-teaser ul.links li.node-readmore {
  float: right;
  padding-right: 0px;
  padding-top: 0;
}

article.node--type-gallery.node-teaser ul.links .field-type-taxonomy-term-reference,
article.node--type-video.node-teaser ul.links .field-type-taxonomy-term-reference,
article.node--type-article.node-teaser .field-type-taxonomy-term-reference {
  margin-bottom: 10px;
  clear: left;
}

article.node--type-video.node-teaser .field--name-field-video,
article.node--type-gallery.node-teaser .field--name-field-images {
  float: right;
  margin: 10px 0 10px 20px;
}
article.node--type-video .field--name-field-media,
article.node--type-article .field--name-field-image,
article.node--type-article .field--name-field-image img {
  width: 100%;
}
.field--name-field-image {
  margin: 10px 20px 30px 0;
}
article.node--type-article .field--name-body {
  margin-bottom: 20px;
}
article.node--type-article .field--name-field-addthis,
article.node--type-video .field--name-field-addthis,
article.node--type-gallery .field--name-field-addthis {
  float: right;
  text-align: right;
  height: 20px;
  padding-top: 3px;
}
.field--name-field-related-news {
  float: right;
  clear: right;
  width: 100%;
  margin: 20px 0 20px 20px;
}
.field--name-field-related-news .field-label {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
  margin-bottom: 5px;
}
.field-name-field-related-news .field-item {
  font-weight: bold;
  padding: 3px 0;
}
.field-name-field-addthis-bottom {
  padding-top: 20px;
}
.page-node .user-picture {
  float: left;
  margin-right: 10px;
  width: 24px;
}

/* Block More news */
.view-more-articles .views-row {
  float: left;
  width: 100%;
  padding: 7px 0;
}
.view-more-articles .views-row .views-field-title a {
  font-family: "Open Sans Condensed", Arial,Helvetica,Verdana,sans-serif;
  font-weight: bold;
  color: #222;
  font-size: 110%;
}
.view-more-articles .views-row .views-field-title a:hover {
  color: #b70000;
}
.view-more-articles .views-row .views-field-field-image {
  float: left;
  margin-right: 20px;
  width: 80px;
}
.view-more-articles .views-row .views-field-created,
.view-more-articles .views-row .views-field-uid,
.view-more-articles .views-row .views-field-comment-count {
  display: inline-block;
  color: #999;
  margin-top: 10px;
}

/* Block About Author */
.block-author .views-row {
  position: relative;
  padding-left: 100px;
}

.block-author .views-row {
  padding-top: 0px;
  padding-bottom: 20px;
}
.block-author .views-field-user-picture {
  margin-bottom: 10px;
  position: absolute;
  top: 10px;
  left: 0;
}
.field--name-user-picture {
  float: right;
  margin-left: 20px;
}
.block-author .views-field-user-picture img {
  width: 80px;
  height: 80px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.block-author  .views-field-field-user-name {
  margin-bottom: 10px;
}
.node-author-name {
  margin-top: 20px;
}
.block-author .views-field-field-user-name a {
  color: #060607;
  font-family: "Open Sans Condensed", Arial,Helvetica,Verdana,sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Author Profile */
.path-user .field--name-field-user-name {
  margin-bottom: 20px;
}
.path-user #block-views-block-news-blog-block-1 {
  margin-top: 30px;
  float: left;
  overflow: hidden;
}

/* Block Latest news */
.block-latest-news {
  position: relative;
}
.block-latest-news .views-row {
  border-bottom: 1px dashed #DCDACE;
  padding-bottom: 10px;
}
.block-most-read h2.block-title {
  border-bottom: 1px solid #ddd;
}
.block-latest-news .views-row,
.block-most-read .views-row {
  float: left;
  width: 100%;
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.block-latest-news .views-row:last-child,
.block-most-read .views-row:last-child {
  border: none;
  padding-bottom: 0px;
}
.block-latest-news .views-row .views-field-field-image,
.block-most-read .views-row .views-field-field-image {
  float: left;
  margin: 7px 0px 10px 0;
  width: 100%;
}

.block-latest-news .views-row .views-field-field-image img:hover,
.block-most-read .views-row .views-field-field-image img:hover {
  opacity: 0.5
}
.block-latest-news .views-row .views-field-title a,
.block-most-read .views-row .views-field-title a {
  font-family: "Open Sans Condensed", Arial,Helvetica,Verdana,sans-serif;
  font-weight: bold;
  font-size: 110%;
  color: #222;
}
.block-latest-news .views-row .views-field-title a:hover,
.block-most-read .views-row .views-field-title a:hover {
  color: #b70000;
}
.block-latest-news .views-row .views-field-body p,
.block-most-read .views-row .views-field-body p {
  margin: 0;
  font-size: 90%;
  line-height: 1.5;
  color: #666;
}
.block-latest-news .more-link {
  position: absolute;
  top: -28px;
  right: 10px;
}

/* Block recent comments */
.block-comments-recent-block .item-list ul li {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  margin: 0 0 5px 0;
}
.block-comments-recent-block li a {
  color: #333;
}
.block-comments-recent-block li a:hover {
  color: #b70000;
}
.block-comments-recent-block li .views-field-timestamp {
  color: #aaa;
}
.block-comment-recent ul li span {
  font-style: italic;
  color: #999;
}

/* Block header ad */
.block-adv-header {
  margin: 0px 0 30px;
  float: right;
  width: 100%;
}
/*------------------------------------*\
	PHOTO CSS
\*------------------------------------*/
/* List Photos */
.view-list-photos .view-filters {
  float: left;
  width: 100%;
}
.view-list-photos .views-exposed-form {
  float: right;
}
.view-list-photos .views-exposed-widget {
  padding: 0;
}
.view-list-photos .views-exposed-widget label,
.view-list-photos .views-exposed-widget .views-widget {
  float: left;
  margin-right: 10px;
}
.view-list-photos .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0;
  padding: 5px 15px;
  font-size: 90%;
}

.view-list-photos .views-row {
  float: left;
  margin: 10px;
  width: 100%;
}
.view-list-photos .views-row .views-field-field-images,
.view-list-photos.view-list-photos-horizontal .views-row .views-field-field-image {
  margin-bottom: 15px;
}
.view-list-photos.view-list-photos-horizontal .views-row .views-field-field-image img {
  width: 100%;
}
.view-list-photos .views-row .views-field-title {
  margin-bottom: 10px;
}
.view-list-photos .views-row .views-field-title a {
  color: #222;
  font-family: "Open Sans Condensed",Arial,Helvetica,Verdana,sans-serif;
  font-size: 110%;
  font-weight: bold;
}
.view-list-photos .views-row .views-field-title a:hover { color: #b70000; }
.view-list-photos .views-row .views-field-created,
.view-list-photos .views-row .views-field-uid,
.view-list-photos .views-row .views-field-comment-count {
  color: #999;
  text-transform: uppercase;
  display: inline-block;
}
.view-list-photos .views-row .views-field-body {
  color: #666;
  margin-top: 10px;
}

/* Latest Photos */
.block-photos-slideshow h2.slide__title {
  margin: 10px 0 5px;
  font-size: 13px;
  font-weight: normal;
  font-family: 'Open Sans',Arial,Helvetica,Verdana,"Bitstream Vera Sans",sans-serif;
}

.block-photos-slideshow h2.slide__title a {
  color: #000;
}

.block-photos-slideshow ul.slick-dots li,
.block-photos-slideshow ul.slick-dots li button {
  width: 8px;
  height: 8px;
}
.block-photos-slideshow img {
  width: 100%;
}

/* Photo detail */
.juicebox-container {
  overflow: hidden;
  margin-bottom: 30px;
}

/*------------------------------------*\
	VIDEO CSS
\*------------------------------------*/
/* List video */
.view-list-videos .view-filters {
  float: left;

  width: 100%;
}
.view-list-videos .views-exposed-form {
  float: right;
}
.view-list-videos .views-exposed-widget {
  padding: 0;
}
.view-list-videos .views-exposed-widget label,
.view-list-videos .views-exposed-widget .views-widget {
  float: left;
  margin-right: 10px;
}
.view-list-videos .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0;
}

.view-list-videos .views-row {
  float: left;
  margin: 10px;
  width: 150px;
}
.view-list-videos .views-row .views-field-title {
  padding-top: 10px;
}
.view-list-videos .views-row .views-field-title a {
  font: bold 110% "Open Sans Condensed", Arial,Helvetica,Verdana,sans-serif;
  color: #222;
}
.view-list-videos .views-row .views-field-title a:hover {
  color: #b70000;
}
.view-video .views-field-created,
.view-video .views-field-uid,
.view-video .views-field-comment-count {
  color: #999;
  text-transform: uppercase;
  display: inline-block;
  /*nuevo*/
  margin-right: 1em;
}

/* Block Video */
.block-list-videos {
  position: relative;
}
.block-list-videos .slick__slide {
  margin: 10px;
}

.field--name-field-video {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}
article.node--type-video .field-name-field-media iframe {
  width: 100%;
  max-width: 100%;
}
/*------------------------------------*\
	BLOCKS CSS
\*------------------------------------*/
/* Divider */
.full-width,
.one-half,
.one-third,
.two-third,
.three-fourth,
.one-fourth {
  float: left;
  width: 100%;
  margin-bottom: 25px;
}
.block /* Block wrapper */ {
  margin-bottom: 30px;
}

.main-container .block-inner,
body.path-not-frontpage .region-content,
.section-footer .region-footer-first-inner,
.section-footer .region-footer-second-inner {
  background: #fff;
  padding: 20px 20px 30px;
  overflow: hidden;
}
.region-sidebar-second .block-inner {
  padding: 15px;
}
body.path-not-frontpage .region-content .block-inner {
  padding: 0;
}
body.path-not-frontpage .region-content {
  margin-bottom: 20px;
}
.region-content {
  overflow: hidden;
}
#region-content-bottom-first {
  margin: 0;
  overflow: hidden;
  float: left;
  width: 100%;
}
#region-content-bottom-second {
  margin: 0;
}

h2.block-title {
  color:#999;
  padding-bottom: 5px;
  margin-bottom: 0.5em;
  border-bottom: 2px solid #b70000;
  font-weight: bold;
  font-size: 160%;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", Arial,Helvetica,Verdana,sans-serif;
}
h2.block-title a {
  text-transform: uppercase;
  font-family: "Open Sans Condensed", Arial,Helvetica,Verdana,sans-serif;
  color:#999;
}

.block-red h2.block-title {
  border-bottom: 2px solid #b70000;
}
.block-blue h2.block-title {
  border-bottom: 2px solid #1db6b6;
}
.block-green h2.block-title {
  border-bottom: 2px solid #00ff66;
}
.block-purple h2.block-title {
  border-bottom: 2px solid #9966cc;
}
.block-yellow h2.block-title {
  border-bottom: 2px solid #ffcc00;
}
.block-pink h2.block-title {
  border-bottom: 2px solid #ff0066;
}
.block-orange h2.block-title {
  border-bottom: 2px solid #ff3300;
}
.block-grey h2.block-title {
  border-bottom: 2px solid #666;
}

.block .content /* Block's content wrapper */ {
}

.zone-content-wrapper h2.block-title {
  font-size: 130%;
}

.zone-content-wrapper h2.block-title a {
  color: #999;
}
.zone-content-wrapper h2.block-title a:hover {
  color: #222;
}
.zone-content-wrapper .block-ads h2.block-title {
  font-size: 110%;
  text-align: center;
  text-transform: none;
  background: none;
  border: none;
  padding: 10px 0;
  font-weight: normal;
  background: #999;
  color: #fff;
  margin: 0;
}

.more-link a {
}
.views-field-view-node a,
li.node-readmore a {
  background: none;
  border: none;
  color: #666;
  text-transform: uppercase;
  padding: 0;
  font-weight: bold;
  float: right;
}
.more-link a:hover{
}
.views-field-view-node a:hover,
li.node-readmore a:hover {
  background: none;
}

/* Header */
.branding-data {
  width: 100%;
  float: left;
  text-align: center;
  padding: 20px 0;
}

/* Block search */
.zone-branding .block-search {
  display: none;
}
.block-search {
  float: left;
  width: 100%;
  text-align: center;
}
.block-search #search-block-form {
  position: relative;
  max-width: 300px;
  width: auto;
  margin: 0 auto;
}
.block-search .form-item {
  margin: 0;
}
.block-search input.form-submit {
  position: absolute;
  right: 5px;
  top: 5px;
  background: none;
  border: none;
  text-indent: -100px;
  overflow: hidden;
  width: 24px;
  height: 24px;
  padding: 0;
  margin:0;
  background: url(../images/search-icon.png) 0 0 no-repeat;
}
.block-search .form-item input.form-text {
  width: 100%;
  max-width: 300px;
  border: 1px solid #ddd;
  height: 32px;
  -moz-box-shadow: 0px 0px 0px #333 inset;
  -webkit-box-shadow: 0px 0px 0px  #aaa inset;
  box-shadow: 0px 0px 0px  #aaa inset;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* Block login */
.block-login .block-inner {
  background: #151E25;
  border: 1px solid #DCDACE;
  padding: 10px;
}
.block-login .form-actions {
  text-align: center;
}
.block-login .form-actions input {
  margin: 0;
}
.block-login input.form-text {
  width: 95%;
}

/* Block poll */
.block-poll ul.links {
  margin: 10px 0 10px 20px;
}
.block-poll
input,
textarea{
  font-size: inherit;
}

/* Block list */
.block-list ul {
  margin:0;
  padding: 0;
}
.block-list ul li {
  list-style: none;
  margin:0;
  padding:0;
  padding: 2px 0 2px 15px;
  background: url(../images/bullet-news.jpg) 0 13px no-repeat;
}
.block-list ul li li a {
  text-indent: 15px;
}
.block-list ul li li li a {
  text-indent: 30px;
}

/* Footer block */
.block-copyright {
  float: left;
  width: 100%;
  text-align: center;
}
.block-social-icons {
  text-align: center;
  padding-top: 10px;
}
.block-social-icons img {
  display: inline;
  vertical-align: middle;
}

/* Block SimpleNews */
.main-container #block-simplenewssubscription .block-inner {
  background: #2f3541;
  color: #fff;
}
#block-simplenewssubscription h2.block-title {
  color: #fff;
  border-bottom: 2px solid #fff;
}
#block-simplenewssubscription input.form-text {
  width: 100%;
}
#block-simplenewssubscription button#edit-subscribe {
  background-color: #b70000;
  color: #fff;
  border: none;
  font-family: "Open Sans Condensed", Arial,Helvetica,Verdana,sans-serif;
}

/* Block block-transparent */
.main-container .block-transparent .block-inner {
  background: none;
  padding: 0;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}

/* Block Ads */
.main-container .block-ads h2.block-title {
    background: #999 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-size: 110%;
    font-weight: normal;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    text-transform: none;
}
.block-ads img {
  width: 100%;
}

/* Facebook like box */
#fb-root {
  display: none;
}

/* To fill the container and nothing else */
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100% !important;
  background: #fff;
}


/* Block Theme Colors */
.block-theme-colors {
  position: fixed;
  top: 30%;
  right: 0;
  z-index: 100;
}
.block-theme-color-content {
  width: 200px;
  float: left;
  background: #fff;
  display: none;
  border: 1px solid #ddd;
  -moz-box-shadow: 0 0 10px #aaa;
  -webkit-box-shadow: 0 0 10px #aaa;
  box-shadow: 0 0 10px #aaa;
  padding: 20px 0 20px 20px;
}

.block-theme-color-content h4 {
  margin-bottom: 10px;
}

.block-theme-colors .content ul {
  margin: 0;
  padding: 0;
  float: left;
}
.block-theme-colors .content ul li {
  margin: 0;
  width: 100px;
  padding: 5px 0;
  list-style: none;
  float: left;
}
.block-theme-colors .content p {
  margin: 0;
}
.block-theme-colors .content ul li a {
  color: #000;
  padding-left: 5px;
}
.block-theme-colors .content .close,
.block-theme-colors .content .open {
  width: 40px;
  height: 40px;
  position: absolute;
  left: -40px;
  top: 0;
  background: #000;
  cursor:pointer;
  border: 1px solid #ddd;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.block-theme-colors .content .close {
  background: #fff url(../images/block-theme-color-close.png) center center no-repeat;
}
.block-theme-colors .content .open {
  background: #fff url(../images/block-theme-color-open.png) center center no-repeat;
}


/* Contact form */
.contact-form .form-item {
  padding: 10px 10px;
  margin:0;
  float: left;
  width: 90%;
}
.contact-form .form-item:hover,
.contact-form .form-item:active {
  background: #e8eef2;
}
.contact-form .form-actions {
  margin-left: 10px;
}


/*------------------------------------*\
	USER PROFILE
\*------------------------------------*/
.profile h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  border: none;
  float: left;
  width: 100%;
}
.profile .field-name-field-user-name {
  float: left;
  padding-bottom: 20px;
}
.profile .field-name-field-user-about-us {
  clear: left;
}
.profile dt, .profile dd {
  display: inline;
}
.profile .user-picture {
  margin: 0 0 0 2em;
}
/*------------------------------------*\
	FORMS CSS
\*------------------------------------*/

.form-item /* Wrapper for a form element (or group of form elements) and its label */ {
  margin: 1em 0;
}
.form-item input.form-text {
  border: 1px solid #ccc;
  height: 30px;
  padding-left: 15px;
  text-shadow: none;
}
.form-item textarea.form-textarea {
  height: 200px;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error /* Highlight the form elements that caused a form submission error */ {
  border: 1px solid #c00;
}

.form-item label /* The label for a form element */ {
  display: block;
  font-weight: bold;
}

.form-item label.option /* The label for a radio button or checkbox */ {
  display: inline;
  font-weight: normal;
}

.form-required /* The part of the label that indicates a required field */ {
  color: #c00;
}

.form-item .description /* The descriptive help text (separate from the label) */ {
  font-size: 0.85em;
}

.form-checkboxes .form-item,
.form-radios .form-item /* Pack groups of checkboxes and radio buttons closer together */ {
  margin: 0; /* Drupal core uses "0.4em 0" */
}


/* Typography and backgrounds for all form buttons */
button, input[type="reset"], input[type="submit"], input[type="button"] {
  background: none repeat scroll 0 0 #b70000;
  border: none;
  color: #fffefe;
  text-transform: uppercase;
  padding: 1em 1.5em;
  margin: 2px;
  border-radius: 0;
  text-shadow: none;
}

input.form-submit:hover {
  background-color: #930000;
}
button#edit-preview {
  display: none;
}
.container-inline div,
.container-inline label /* Inline labels and form divs */ {
  display: inline;
}

.tips /* Tips for Drupal's input formats */ {
}


/*
 * Password confirmation
 */
.password-parent,
.confirm-parent {
  margin: 0;
}


/*
 * Search (search-block-form.tpl.php)
 */
#block-search-form /* Wrapper for the search form */ {
}
.search-advanced {
  margin-top: 20px;
}
#search-form .form-type-textfield label {
  margin-right: 10px;
}
#search-form input[id="edit-keys"] {
  height: 42px;
  margin-top: 3px;
}
#search-form a#edit-help-link {
  display: none;
}
.path-search .region-content ol {
  margin: 0;
}
/*
 * Drupal's default login form block
 */
#user-login-form {

  text-align: left; /* LTR */
}


/*
 * OpenID
 *
 * The default styling for the OpenID login link seems to assume Garland's
 * styling of list items.
 */

#user-login-form ul /* OpenID creates a new ul above the login form's links. */ {
  margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
}

html.js #user-login-form li.openid-link,
#user-login-form li.openid-link /* The "Log in using OpenID" link. */ {
  margin-top: 1.5em;
  margin-left: -20px; /* LTR */ /* Un-do some of the padding on the ul list. */
}

#user-login-form li.user-link /* The "Cancel OpenID login" link. */ {
  margin-top: 1.5em;
}

#user-login ul {
  margin: 1.5em 0;
}


/*
 * Drupal admin tables
 *
 * We overrode these styles in html-reset.css, but restore them for the admin
 * section of the site.
 */

form th {
  text-align: left; /* LTR */
  padding-right: 1em; /* LTR */
  border-bottom: 3px solid #ccc;
}

form tbody {
  border-top: 1px solid #ccc;
}

form tr.even {
  background-color: #fff;
}

form table .item-list ul {
  margin: 0;
}


/*------------------------------------*\
	TABS CSS
\*------------------------------------*/

div.tabs {
  margin: 0 0 0;
}

ul.primary {
  margin: 0;
  padding: 0 0 0 10px; /* LTR */
  border-width: 0;
  list-style: none;
  white-space: nowrap;
  line-height: normal;
}

ul.primary li {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}

ul.primary li a {
  display: block;
  line-height: 24px;
  margin: 0;
  padding: 0 15px; /* width of tab-left.png */
  border-width: 0;
  font-weight: bold;
  text-decoration: none;
  color: #777;
  background-color: transparent;
}

ul.primary li a .tab {
  display: block;
  height: 20px; /* 24px (parent) - 4px (padding) */
  margin: 0;
  padding: 4px 13px 0 6px;
  border-width: 0;
  line-height: 20px;
}

ul.primary li a:hover,
ul.primary li a:focus {
  border-width: 0;
  background-color: transparent;
}

ul.primary li a:hover .tab,
ul.primary li a:focus .tab {
}

ul.primary li.active a,
ul.primary li.active a:hover,
ul.primary li.active a:focus {
  border-width: 0;
  color: #fff;
  background-color: #b70000;
}

ul.primary li.active a .tab,
ul.primary li.active a:hover .tab,
ul.primary li.active a:focus .tab {
}

ul.secondary {
  margin: 0;
  padding: 0 0 0 5px; /* LTR */
  border-bottom: 1px solid #c0c0c0;
  list-style: none;
  white-space: nowrap;
}

ul.secondary li {
  float: left; /* LTR */
  margin: 0 5px 0 0;
  padding: 5px 0;
  border-right: none; /* LTR */
}

ul.secondary a {
  display: block;
  height: 24px;
  margin: 0;
  padding: 0;
  border: 1px solid #c0c0c0;
  text-decoration: none;
  color: #777;
}

ul.secondary a .tab {
  display: block;
  height: 18px; /* 24px (parent) - 6px (padding) */
  margin: 0;
  padding: 3px 8px;
  line-height: 18px;
}

ul.secondary a:hover,
ul.secondary a:focus {
}

ul.secondary a.active,
ul.secondary a.active:hover,
ul.secondary a.active:focus {
}

/* Block Tabs */
.block-tabs {
  padding: 0;
  border: none;
  font-family: 'Open Sans', Arial,Helvetica,Verdana,sans-serif;
  line-height: 1.714;
  font-size: 100%;
  color: #666;
}
.ui-tabs .ui-tabs-nav {
  background: #fcfcfc;
  border: 1px solid #e8e8e8;
  border-bottom: none;
  padding: 0;
  color: #777;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.ui-tabs .ui-tabs-nav li {
  top: 0;
  background: #fcfcfc;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.ui-tabs .ui-tabs-nav li:hover {
  background: #fff;
}
.ui-tabs .ui-tabs-nav li.ui-state-active {
  border: 1px solid #e8e8e8;
  border-bottom: none;
  margin-left: -1px;
  margin-top: -1px;
  margin-bottom: -1px;
  padding-right: 1px;
  padding-top: 1px;
  background: #fff;
  color: #000;
}
.ui-tabs .ui-tabs-nav li.ui-state-active a {
  color: #000;
}
.ui-tabs .ui-tabs-nav li a {
  padding: 15px 20px;
  text-transform: uppercase;
  color: #777;
  font-weight: 600;
}

.ui-tabs .ui-tabs-panel {
  background: #fff;
  border: 1px solid #e8e8e8;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-bottom: 0;
  padding-top: 20px;
  color: #777;
  font-size: 100%;
  font-family: 'Open Sans', Arial,Helvetica,Verdana,sans-serif;
}

/* Horizontal Tabs */

/* Vertical Tab */
.block-tabs-vertical.ui-tabs .ui-tabs-nav {
  float: left;
  width: 20%;
  border-bottom: 1px solid #e8e8e8;
  margin-right: -1px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.block-tabs-vertical.ui-tabs .ui-tabs-panel {
  float: left;
  width: 75%;
  padding-left: 2%;
  padding-right: 2%;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.block-tabs-vertical.ui-tabs .ui-tabs-nav li {
  margin: 0;
  padding: 0;
  float: none;
  line-height: 40px;
}
.block-tabs-vertical.ui-tabs .ui-tabs-nav li.ui-state-active {
  border: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8 !important;
  border-right: none;
  margin: -1px -1px 0 -1px;
  padding: 1px 1px 0px 1px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.block-tabs-vertical.ui-tabs .ui-tabs-nav li a {
  float: none;
  display: block;
  padding: 10px 20px;
}
/* Block accordion */
.ui-accordion {
  font-size: 100%;
}
.ui-accordion ul.menu {
  margin-bottom: 20px;
}
.ui-accordion ul.menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ui-accordion ul.menu ul {
  margin-left: 20px;
}
.ui-accordion ul.menu li span.nolink,
.ui-accordion ul.menu li a {
  background: url(../images/bullet.png) 0 center no-repeat;
  padding-left: 20px;
  color: #999;
}
.ui-accordion .ui-accordion-header a.accordion-link,
.ui-accordion .ui-accordion-header span.accordion-link {
}
.field-group-accordion {
  float: left;
  width: auto;
}
.ui-accordion .ui-accordion-header {
  color: #666;
  text-transform: uppercase;
  font-weight: 600;
  background: #fff;
  border: 1px solid #e8e8e8;
  padding: 15px 20px 15px 35px;
  margin-bottom: 2px;
  font-family: 'Open Sans Condensed', Arial,Helvetica,Verdana,sans-serif;
  font-size: 110%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.ui-accordion h3.ui-state-active,
.ui-accordion-header.ui-state-active {
  background: #fff;
  color: #222;
  border-color: #e2e2e2;
  margin-bottom: 0;
  border-bottom: none;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.ui-accordion h3:hover {
  background: #fcfcfc;
  color: #888;
}
.ui-accordion .ui-accordion-header .ui-icon {
  background: url(../images/accordion-bullet.png) 0 0 no-repeat;
  left: 10px;
  margin-top: -4px;
}
.ui-accordion-header.ui-state-active span.ui-icon {
  background: url(../images/accordion-bullet-active.png) center 4px no-repeat;
}
.ui-accordion .ui-accordion-content {
  padding: 15px 40px 0;
  margin-top: -1px;
  border: 1px solid #e2e2e2;
  border-top: none;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: 'Open Sans', Arial,Helvetica,Verdana,sans-serif;
  line-height: 1.714;
  color: #333;
  background: #fff;
}
/* Toggle */
.toggle_area .toggle_item {
  margin-bottom: 2px;
}
.toggle_area .toggle_item .toggle_label {
  border: 1px solid #e8e8e8;
  background: #fff url(../images/accordion-bullet.png) 10px center no-repeat;
  padding: 13px 13px 13px 40px;
  color: #666;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Open Sans Condensed', Arial,Helvetica,Verdana,sans-serif;
  font-size: 110%;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.toggle_area .toggle_item .toggle_label.active {
  background: #fff url(../images/accordion-bullet-active.png) 10px center no-repeat;
  border-color: #e2e2e2;
  color: #333;
  border-bottom: none;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 50px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.toggle_area .toggle_item .toggle_content {
  border: 1px solid #e2e2e2;
  border-top: none;
  padding: 20px 40px 0;
  margin-top: 0;
  background: #fff;
  color: #333;
  overflow: hidden;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* Juicebox popup */
#jb-glry-dlg { z-index: 99; }


@media only screen  and (min-width: 768px) and (max-width: 991px) {
	/* This file will hold styles that are loaded using the same media query as the narrow grid. */
	/*------------------------------------*\
		NAVIGATIONS CSS
	\*------------------------------------*/
	.zone-menu .block-nice-menus {
	  float: left;
	  margin-bottom: 0;
	}
	ul#main-menu,
	#block-senapi-main-menu ul.menu,
	.zone-menu ul.menu,
	.zone-submenu ul.menu {
	  text-align: left;
	}
	.zone-menu ul.menu li a {
	  text-transform: none;
	  padding: 7px 13px;
	}

	/* User menu */
	.block-system-user-menu {
	  width: auto;
	  margin-top: 30px;
	  float: right;
	}

	/* Footer menu */
	#block-senapi-footer {
	  width: 100%;
	  text-align: right;
	  float: left;
	}
	#block-senapi-footer ul.menu {
	  float: left;
	  width: 100%;
	  text-align: left;
	}
	#block-senapi-footer ul.menu li a {
	  padding: 0px 10px;
	}


	/*------------------------------------*\
		PAGE CSS
	\*------------------------------------*/
	/* Header */
	.branding-data {
	  width: 200px;
	  text-align: left;
	  padding-top: 20px;
	}

	h1.title {
	  font-size: 160%;
	}
	.zone-content-wrapper h2.block-title {
	  font-size: 140%;
	}

	/*------------------------------------*\
		NEWS CSS
	\*------------------------------------*/

	/* Block slideshow */
	.view-article-slideshow .views-field-field-image {
	  width: 180px;
	  margin-right: 20px;
	  text-align: left;
	}
	.view-article-slideshow .views-field-title {
	  float: left;
	  width: auto;
	  text-align: left;
	  padding-top: 20px;
	}
	.view-article-slideshow .views-field-title a {
	  font-size: 120%;
	  line-height: 1.2
	}
	.view-article-slideshow .attachment .views-field-field-image {
	  width: 50px;
	}
	.view-article-slideshow  .attachment .views-field-title {
	  float: none;
	  padding-top: 0px;
	}
	.view-article-slideshow .views-slideshow-pager-fields {
	  margin-top: -40px;
	  padding-bottom: 10px;
	}

	/* List articles */
	.view-list-articles .views-field-field-image,
	.view-list-articles .views-field-field-image img {
	  width: 180px;
	  margin: 0 20px 0 0;
	}
	article.node--type-article.node-teaser .node-title a {
	  font-size: 110%;
	}
	.field-name-field-related-news {
	  width: 180px;
	}

	/* Block breaking news */
	.block.block-breaking-news {
	  padding: 0;
	}
	.block-breaking-news h2.block-title {
	  float: left;
	  border: none;
	  width: auto;
	  margin: 10px 10px 10px 0;
	}
	.block-breaking-news .content {
	  float: left;
	  width: 550px;
	}
	.block-breaking-news .content .views-field-title a {
	  padding-top: 10px;
	}

	.block-topic-news-horizontal .views-row {
	  width: 45%;
	  margin: 0 2.5%;
	  float: left;
	}
	.block-topic-news-horizontal .views-row:nth-child(2n+1) {
	  clear: left;
	}
	.block-topic-news.block-topic-news-horizontal .view-content .views-field-field-image {
	  margin-right: 0;
	  width: 100%;
	}


	/*------------------------------------*\
		PHOTO CSS
	\*------------------------------------*/
	/* List Photos */
	.view-list-photos .views-row {
	  width: 47.5%;
	  clear: none;
	  margin: 10px 2.5%;
	}
	.view-list-photos .views-row:nth-child(2n+1) {
	  clear: left;
	  margin-left: 0;
	}
	.view-list-photos .views-row:nth-child(2n) {
	  margin-right: 0;
	}


	/*------------------------------------*\
		VIDEO CSS
	\*------------------------------------*/
	/* List VIDEO */
	.view-list-videos .views-row {
	  width: 47.5%;
	  clear: none;
	  margin: 10px 2.5%;
	}
	.view-list-videos .views-row:nth-child(2n+1) {
	  clear: left;
	  margin-left: 0;
	}
	.view-list-videos .views-row:nth-child(2n) {
	  margin-right: 0;
	}

	/* Video node */
	article.node--type-video .field-name-field-media iframe {
	  height: 300px;
	}

	/*------------------------------------*\
		BLOCK CSS
	\*------------------------------------*/
	/* Block search */
	.block-search {
	  float: right;
	  margin-top: 23px;
	  width: 200px;
	}

	/* Block login */
	.block-login input.form-text {
	  width: 138px;
	}

	.block-login .item-list ul li {
	  margin-left: 0;
	  list-style: none;
	}

	/* Footer block */
	.block-copyright {
	  float: left;
	  width: auto;
	  text-align: left;
	}
	.block-social-icons {
	  text-align: right;
	  clear: right;
	  float: right;
	  width: auto;
	  border: none;
	  padding: 0;
	}

	/* Contact form */
	.contact-form .form-item label {
	  font-size: 110%;
	  font-weight: bold;
	}
	.contact-form .form-actions {
	  margin-left: 10px;
	}

	/*------------------------------------*\
		OTHER STYLE CSS
	\*------------------------------------*/
	.one-half, .one-third, .two-third, .three-fourth, .one-fourth {
		float: left;
		margin-bottom: 20px;
		padding: 0;
		margin-right: 4%;
		position: relative;
	}
	.one-half.last, .one-third.last, .two-third.last, .three-fourth.last, .one-fourth.last {
	  margin-right: 0;
	}
	.one-half {
	  width: 48%;
	}
	.one-third {
	  width: 30.6666%;
	}
	.two-third {
	  width: 65.3332%;
	}
	.one-fourth {
	  width: 22%;
	}
	.three-fourth {
	  width: 74%;
	}

}

@media only screen  and (min-width: 992px) and (max-width: 1199px) {
	/* This file will hold styles that are loaded using the same media query as the normal grid. */

	.region-header-second-inner,
	.region-sidebar-second-inner {
	  padding-left: 5px;
	  padding-right: 10px;
	}
	/*------------------------------------*\
		NAVIGATIONS CSS
	\*------------------------------------*/
	.zone-menu .block-nice-menus {
	  width: 100%;
	  float: left;
	  margin-bottom: 0;
	}
	ul#main-menu,
	#block-senapi-main-menu ul.menu,
	.zone-menu ul.menu,
	.zone-submenu ul.menu {
	  text-align: left;
	}
	#block-senapi-main-menu ul.menu li.menu-path-nolink span, #block-senapi-main-menu ul.menu li a {
	  text-transform: uppercase;
	  padding: 15px 20px;
	  font-size: 120%;
	}

	/* User menu */
	.block-system-user-menu {
	  width: auto;
	  margin-top: 30px;
	}

	/* Footer menu */
	#block-senapi-footer {
	  width: auto;
	  float: left;
	  width: 100%;
	}
	#block-senapi-footer ul.menu {
	  float: left;
	}
	#block-senapi-footer ul.menu li a {
	  padding: 0px 10px;
	}

	/* Header */
	.branding-data {
	  width: 180px;
	  text-align: left;
	  padding: 40px 0;
	}

	h1.title {
	  font-size: 180%;
	}
	.zone-content-wrapper h2.block-title {
	  font-size: 150%;
	}

	.site-branding {
	  width: auto;
	  text-align: left;
	}

	/*------------------------------------*\
		NEWS CSS
	\*------------------------------------*/

	/* Block slideshow */
	.view-article-slideshow .view-content {
	  float: left;
	  width: 240px;
	  height: 100%;
	  margin: -15px;
	  margin-right: 30px;
	  padding: 25px 20px 30px 20px;
	}
	.view-article-slideshow .views-field-field-image {
	  width: 220px;
	  margin-left: 0;
	  margin-right: 0;
	  text-align: left;
	}
	.view-article-slideshow .views-field-title {
	  float: none;
	  padding-top: 0px;
	  width: auto;
	  text-align: left;
	}
	.view-article-slideshow .views-field-title a {
	  font-size: 140%;
	  line-height: 1.2
	}

	.view-article-slideshow .attachment {
	  float: left;
	  width: 380px;
	}
	.view-article-slideshow .attachment .view-content {
	  width: 100%;
	  margin: 0;
	}
	.view-article-slideshow .attachment .views-field-field-image {
	  width: 65px;
	  float: right;
	  margin-left: 20px;
	  margin-right: 0;
	}
	.view-article-slideshow .attachment .views-field-title {
	  font-size: 110%;
	  font-weight: bold;
	  text-transform: uppercase;
	  margin-bottom: 10px;
	}

	.view-article-slideshow .views-slideshow-pager-fields {
	  margin-top: 0px;
	  padding-bottom: 0px;
	}

	/* Article Slider - Large */
	.view-slideshow-front .views-field-title {
	  position: absolute;
	  z-index: 10;
	  bottom: 0;
	}
	/* Home topic block */
	.block-topic-news .view-content .views-field-field-image {
	  width: 100px;
	  margin-right: 20px;
	  margin-top: 0;
	}
	.block-topic-news .attachment .view-content .views-field-field-image {
	  width: 80px;
	}
	.block-topic-news.block-topic-news-list .view-content .views-field-field-image {
	  width: 100px;
	}

	/* Block breaking news */
	.block.block-breaking-news {
	  padding: 0;
	}
	.block-breaking-news h2.block-title {
	  float: left;
	  border: none;
	  width: auto;
	  margin: 10px 10px 10px 0;
	  font-size: 120%;
	}
	.block-breaking-news .content {
	  float: left;
	  width: 600px;
	}
	.block-breaking-news .content .views-field-title a {
	  padding-top: 10px;
	}

	/* List article */
	.view-list-articles .views-field-field-image {
	  width: 220px;
	  margin: 0 20px 0 0;
	}
	article.node--type-article.node-teaser .field-name-field-image,
	article.node--type-article.node-teaser .field-name-field-image img
	article.node--type-video.node-teaser .field-name-field-video,
	article.node--type-video.node-teaser .field-name-field-video img,
	article.node--type-gallery.node-teaser .field-name-field-images,
	article.node--type-gallery.node-teaser .field-name-field-images img {
	  width: 200px;
	}
	article.node--type-article.node-teaser .node-title a {
	  font-size: 100%;
	}

	.field-name-field-related-news {
	  width: 220px;
	}

	/* Block More news */
	.view-more-articles .views-row {
	  width: 47%;
	}
	.view-more-articles .views-row:nth-child(2n+1) {
	  clear: left;
	  padding-right: 20px;
	}

	/* Block news horizontal */
	.block-topic-news-horizontal .views-row {
	  width: 30%;
	  margin: 0 1.5%;
	  float: left;
	}
	.block-topic-news-horizontal .views-row:nth-child(3n+1) {
	  margin-left: 0;
	  clear: left;
	}
	.block-topic-news-horizontal .views-row:nth-child(3n+3) {
	  margin-right: 0;
	}
	.block-topic-news.block-topic-news-horizontal .view-content .views-field-field-image {
	  width: 100%;
	  margin-right: 0;
	}

	/* Block Most Read */
	.block-latest-news .views-row .views-field-field-image,
	.block-most-read .views-row .views-field-field-image {
	  float: left;
	  margin: 7px 15px 0 0;
	  width: 50px;
	}


	/*------------------------------------*\
		PHOTO CSS
	\*------------------------------------*/
	/* List Photos */
	.view-list-photos .views-row {
	  width: 31%;
	  clear: none;
	  margin: 10px 1.67%;
	}
	.view-list-photos .views-row:nth-child(4n+1) {
	  clear: left;
	  margin-left: 0;
	}
	.view-list-photos .views-row:nth-child(3n) {
	  margin-right: 0;
	}


	/*------------------------------------*\
		VIDEO CSS
	\*------------------------------------*/
	/* List VIDEO */
	.view-list-videos .views-row {
	  width: 31%;
	  clear: none;
	  margin: 10px 1.67%;
	}
	.view-list-videos .views-row:nth-child(3n+1) {
	  clear: left;
	  margin-left: 0;
	}
	.view-list-videos .views-row:nth-child(3n) {
	  margin-right: 0;
	}
	/* Video node */
	article.node--type-video .field-name-field-media iframe {
	  height: 450px;
	}

	/*------------------------------------*\
		BLOCK CSS
	\*------------------------------------*/

	/* Block header ad */
	.block-adv-header {
	  margin-top: 30px;
	  width: 35%;
	}

	/* Block login */
	.block-login input.form-text {
	  width: 198px;
	}

	/* Block search */
	.block-search {
	  float: right;
	  width: 220px;
	  margin-top: 23px;
	  margin-right: 50px;
	}
	.views-field-service-links ul.links {
	  float: right;
	}
	.views-field-service-links ul.links li {
	  float: right;
	}

	/* Footer block */
	.block-social-icons {
	  text-align: right;
	  clear: right;
	  width: auto;
	  float: right;
	  border: none;
	  padding: 0;
	}

	/* Contact form */
	.contact-form .form-item label {
	  float: left;
	  width: 180px;
	  font-size: 110%;
	  font-weight: bold;
	}
	.contact-form .form-item.form-type-checkbox label {
	  float: none;
	  font-size: 100%;
	  font-weight: normal;
	}
	.contact-form .form-item .form-textarea-wrapper {
	  float: left;
	  width: 100%;
	}
	.contact-form .form-item.form-type-checkbox,
	.contact-form .form-actions {
	  margin-left: 0px;
	  width: auto;
	  clear: left;
	  float: left;
	}
	.contact-form .form-actions {
	  margin-left: 10px;
	}

	/* Footer block */
	.block-copyright {
	  float: left;
	  width: auto;
	  text-align: left;
	}

	#block-senapi-footer {
	  width: auto;
	  float: left;
	  width: 100%;
	}
	#block-senapi-footer ul.menu {
	  float: left;
	}
	#block-senapi-footer ul.menu li {
	  padding-right: 20px;
	}

	/*------------------------------------*\
	OTHER STYLE CSS
	\*------------------------------------*/
	.one-half, .one-third, .two-third, .three-fourth, .one-fourth {
		float: left;
		margin-bottom: 25px;
		padding: 0;
		margin-right: 4%;
		position: relative;
	}
	.one-half {
		margin-right: 3%;
	}
	.one-fourth {
		margin-right: 2%;
	}
	.one-half.last, .one-third.last, .two-third.last, .three-fourth.last, .one-fourth.last {
	  margin-right: 0;
	}
	.one-half {
	  width: 48.5%;
	}
	.one-third {
	  width: 30.6666%;
	}
	.two-third {
	  width: 65.3332%;
	}
	.one-fourth {
	  width: 23.5%;
	}
	.three-fourth {
	  width: 74%;
	}

}

@media only screen  and (min-width: 1200px) {
/* This file will hold styles that are loaded using the same media query as the wide grid. */

		/* Header */
	h1.title {
	  font-size: 200%;
	}
	.site-branding {
	  width: auto;
	  text-align: left;
	}
	/*------------------------------------*\
		NEWS CSS
	\*------------------------------------*/

	/* Block slideshow */
	.view-article-slideshow .view-content {
	  float: left;
	  width: 320px;
	  height: 100%;
	  margin:-20px 20px -20px -20px;
	  padding: 30px;
	}
	.view-article-slideshow .view-content .views-row {
	}
	.view-article-slideshow .views-field-field-image,
	.view-article-slideshow .views-field-field-image img {
	  width: 280px;
	}
	.view-article-slideshow .views-field-title a {
	  font-size: 160%;
	  line-height: 1.2
	}

	.view-article-slideshow .attachment {
	  float: left;
	  width: 480px;
	}
	.view-article-slideshow .attachment .view-content {
	  width: 100%;
	  margin: 0;
	}
	.view-article-slideshow .attachment .view-content .views-row {
	  padding-bottom: 20px;
	}
	.view-article-slideshow .attachment .views-field-field-image {
	  width: 85px;
	  margin-right: 0px;
	}

	/* Article detail */
	article.node--type-article .field-name-field-intro,
	article.node--type-article .field--name-body {
	  margin-left: 50px;
	}

	/* List article */
	article.node--type-article.node-teaser .field-name-field-image,
	article.node--type-article.node-teaser .field-name-field-image img,
	article.node--type-video.node-teaser .field-name-field-video,
	article.node--type-video.node-teaser .field-name-field-video img,
	article.node--type-gallery.node-teaser .field-name-field-images,
	article.node--type-gallery.node-teaser .field-name-field-images img {
	  width: 275px;
	}

	.view-list-articles .views-field-field-image {
	  width: 300px;
	  margin: 0 20px 0 0;
	}

	article.node--type-article.node-teaser .node-title a {
	  font-size: 110%;
	}

	.field-name-field-related-news {
	  width: 280px;
	}

	/* Home topic block */
	.block-topic-news .view-content {
	  width: 50%;
	  margin-right: 0;
	  border-bottom: none;
	  padding-right: 5%;
	}
	.block-topic-news .view-content .views-field-field-image {
	  width: 100%;
	  margin-right: 0px;
	  margin-top: 15px;
	}
	.block-topic-news .view-content .views-field-title a {
	  font-size: 140%;
	  line-height: 1.2;
	}
	.block-topic-news .attachment {
	  width: 45%;
	  margin-top: 0;
	}
	.block-topic-news .attachment .view-content .views-field-title a {
	  line-height: 1.5;
	}
	.block-topic-news .attachment .view-content .views-field-field-image {
	  width: 100px;
	}
	.block-topic-news.block-topic-news-list .view-content .views-field-field-image {
	  width: 120px;
	}

	/* Block More news */
	.view-more-articles .views-row {
	  width: 47%;
	}
	.view-more-articles .views-row:nth-child(2n+1) {
	  clear: left;
	  padding-right: 20px;
	}

	/* Block New horizontal */
	.block-topic-news.block-topic-news-horizontal .view-content {
	  width: 100%;
	  padding: 0;
	}
	.block-topic-news.block-topic-news-horizontal .view-content .views-field-field-image {
	  margin-top: 0px;
	}
	.block-topic-news-horizontal .views-row {
	  width: 31.3%;
	  float: left;
	  margin: 0 1.5%
	}
	.block-topic-news-horizontal .views-row:nth-child(3n+1) {
	  margin-left: 0;
	  clear: left;
	}
	.block-topic-news-horizontal .views-row:nth-child(3n+3) {
	  margin-right: 0;
	}

	.block-topic-news.block-topic-news-horizontal .view-content .views-field-title a {
	  font-size: 110%;
	  text-transform: none;
	  display: block;
	}


	/* Block Most Read */
	.block-latest-news .views-row .views-field-field-image,
	.block-most-read .views-row .views-field-field-image {
	  float: left;
	  margin: 7px 15px 0 0;
	  width: 50px;
	}

	/*------------------------------------*\
		PHOTO CSS
	\*------------------------------------*/
	/* List Photos */
	.view-list-photos .views-row {
	  width: 31%;
	  clear: none;
	  margin: 10px 1.67%;
	}
	.view-list-photos .views-row:nth-child(3n+1) {
	  clear: left;
	  margin-left: 0;
	}
	.view-list-photos .views-row:nth-child(3n) {
	  margin-right: 0;
	}

	/*------------------------------------*\
		VIDEO CSS
	\*------------------------------------*/
	/* List VIDEO */
	.view-list-videos .views-row {
	  width: 31%;
	  clear: none;
	  margin: 10px 1.67%;
	}
	.view-list-videos .views-row:nth-child(3n+1) {
	  clear: left;
	  margin-left: 0;
	}
	.view-list-videos .views-row:nth-child(3n) {
	  margin-right: 0;
	}

	/* Video node */
	article.node--type-video .field-name-field-media iframe {
	  height: 500px;
	}

	/*------------------------------------*\
		BLOCK CSS
	\*------------------------------------*/

	/* Block header ad */
	.block-adv-header {
	  margin-top: 30px;
	  width: auto;
	}

	/* Block login */
	.block-login input.form-text {
	  width: 255px;
	}

	/* Block search */
	.block-search {
	  width: 300px;
	  margin-right: 100px;
	}

	/* Footer block */
	#block-senapi-footer {
	  width: auto;
	  float: left;
	  width: 100%;
	}
	#block-senapi-footer ul.menu {
	  float: left;
	}
	#block-senapi-footer ul.menu li {
	  padding-right: 20px;
	}

	.block-social-icons {
	  text-align: right;
	  clear: right;
	  float: right;
	  width: auto;
	  border: none;
	  padding: 0;
	}
	.block-copyright {
	  float: left;
	  text-align: left;
	  padding: 0;
	  width: auto;
	}

	/* Block transparent */
	.main-content .block-transparent .block-inner {
	  background: none;
	  padding: 0;
	  border-radius: 0px;
	  -moz-border-radius: 0px;
	  -webkit-border-radius: 0px;
	}

	/* Block copyright */
	#block-blockcopyright {
	  padding-left: 10px;
	}

	/* Contact form */
	.contact-form .form-item label {
	  float: left;
	  width: 200px;
	  font-size: 110%;
	  font-weight: bold;
	}
	.contact-form .form-item.form-type-checkbox label {
	  float: none;
	  font-size: 100%;
	  font-weight: normal;
	}
	.contact-form .form-item .form-text,
	.contact-form .form-item .form-email,
	.contact-form .form-item .form-textarea-wrapper {
	  float: left;
	  width: 70%;
	}
	.contact-form .form-item.form-type-checkbox,
	.contact-form .form-actions {
	  margin-left: 200px;
	  width: auto;
	  clear: left;
	  float: left;
	}
	.contact-form .form-actions {
	  margin-left: 210px;
	}

	/* Sitemap */
	.sitemap a.feed-link {
	  position: relative;
	  top: 7px;
	  float: left;
	  padding-right: 10px;
	}
	/*------------------------------------*\
		MENU CSS
	\*------------------------------------*/
	#block-senapi-main-menu ul.menu {
	  text-align: left;
	}
	#block-senapi-main-menu ul.menu li a {
	  padding: 15px 20px;
	}

	/*------------------------------------*\
		OTHER STYLE CSS
	\*------------------------------------*/
	.one-half, .one-third, .two-third, .three-fourth, .one-fourth {
		float: left;
		margin-bottom: 25px;
		padding: 0;
		margin-right: 4%;
		position: relative;
	}
	.one-half {
		margin-right: 3%;
	}
	.one-fourth {
		margin-right: 2%;
	}
	.one-half.last, .one-third.last, .two-third.last, .three-fourth.last, .one-fourth.last {
	  margin-right: 0;
	}
	.one-half {
	  width: 48.5%;
	}
	.one-third {
	  width: 30.6666%;
	}
	.two-third {
	  width: 65.3332%;
	}
	.one-fourth {
	  width: 23.5%;
	}
	.three-fourth {
	  width: 74%;
	}
}




.navbar-header .block {
  margin-bottom: 5px;
}
.header-wrapper .block {
  margin-bottom: 0px;
}